@import url('./normilaze.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  /* background: #333; */
  /* color: white; */
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: unset;
  color: unset;
}
